<div ng-controller="MovieController">
	<h1>Movies</h1>

	<ul>
        <li ng-repeat="movie in movieList">
            {{movie.title}}
        </li>
    </ul>

	<input type="text" name="movie" ng-model="movie">

	<input type="button" name="clear" value="Clear" ng-click="clear();">

	<input type="button" name="toggle" value="Toggle image" ng-click="toggleVisible();">

	<input type="button" name="discover" value="Discover Movie" ng-click="discoverMovie();">
	
	<br/>
	<br/>
	<img src="{{poster}}" alt="movie poster" ng-show="visible" width="20%">

</div>