<div ng-controller="MovieController">
    <h1>Movie List</h1>

    <div class="row">
        <div class="card" style="width: 18rem;" ng-repeat="movie in movieList">
            <img class="card-img-top" src="{{movie.poster_path}}" alt="Movie img">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview}}</p>
                <a href="https://www.google.com/search?q={{movie.title}}" class="btn btn-primary" target="_blank">More</a>
            </div>
        </div>
    </div>
</div>