<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/discover-movies">Discover movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/movie-list">Movie list</a>
        </li>
    </ul>
</div>